.banner {
  background-image: url(../assets/img/banner.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  padding: 15rem 0 10rem;

  &__content {
    display: flex;
    align-items: initial;
    justify-content: center;
    // height: calc(100vh - -86px);
    flex-direction: column;
    h1 {
      font-size: 8rem;
      font-weight: 600;
      margin: 0 0 3.6rem;
      color: $text;
      span {
        color: $primary;
      }
      @media #{$xs}{
        font-size: 2.8rem;
        text-align: center;
      }
      @media #{$md}{
        font-size: 4rem;
      }
            @media #{$lg} {
              font-size: 4rem;
            }
                        @media #{$lp} {
                          font-size: 4.8rem;
                        }
    }
    p {
      color: $para;
      font-family: "Arimo", sans-serif;
      font-size: 2rem;
      margin: 0;
      font-weight: 500;
      @media #{$xs}{
        font-size: 1.4rem;
        text-align: center;
      }
      @media #{$md} {
        font-size: 1.6rem;
      }
            @media #{$lg} {
              font-size: 1.6rem;
            }
    }
  }
  &__trust{
    border-top: 2px solid rgba(255, 255, 255, 0.12);
    border-bottom: 2px solid rgba(255, 255, 255, 0.12);
    margin: 4rem 0 0;
    display: flex;
    align-items: center;
      @media #{$xs} {
        flex-direction: column;
      }
    h4{
        color: $text;
        font-size: 1.2rem;
        font-weight: 500;
      font-family: "Arimo", sans-serif;
      margin: 0 3rem 0 0;
    border-right: 2px solid rgba(255, 255, 255, 0.12);
    padding: 2rem 3rem 2rem 0;
    letter-spacing: 0.2rem;
    @media #{$xs}{
      padding: 2rem 0 0;
      border-right: none;
      margin: 0;

    }
    }
    ul{
        margin: 0;
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0;
        flex-wrap: wrap;
        li{
          font-size: 1.6rem;
      color: $text;

      @media #{$xs}{
        font-size: 1.4rem;
      }
        }

        @media #{$xs}{
          gap: 2rem;
          justify-content: center;
        }
      @media #{$md} {
        gap: 3rem;
        justify-content: center;
      }
    }
  }
  &__social-list{
    position: relative;
  }
  &__social{
    position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      @media #{$xs}{
        display: none;
      }
    ul{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      li{
        a{
          width: 5rem;
          height: 5rem;
          background-color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          &:hover{
            background-color: $primary;
          }
        }
      }
    }
  }
}

.about{
  background-image: url(../assets/img/shape-1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  &__title{
    h2{
      color: $text;
      margin: 0 0 2rem;
      font-size: 1.6rem;

      @media #{$xs}{
        text-align: center;
      }
    }
  }
  &__content{
    p{
      color: $text;
      margin: 0;
      font-family: "Arimo", sans-serif;
      font-size: 3.8rem;

      @media #{$xs}{
        font-size: 1.6rem;
        text-align: center;
      }
      @media #{$md} {
        font-size: 2rem;
      }
            @media #{$lg} {
              font-size: 2rem;
            }
    }
  }
}

.marquee{


        position: relative;
          display: flex;
          align-items: center;
          background-color: #333232;
          padding: 3rem 0;
          overflow: hidden;
  &__content{
        display: flex;
          align-items: center;
          justify-content: center;
          animation: slide-left 50s linear infinite;
    h2{
font-size: 4rem;
  margin: 0 50px;
  font-weight: 900;
  line-height: 1.4;
  text-decoration: underline;
  color: #fff;
  white-space: nowrap;

  @media #{$xs}{
    font-size: 2rem;
  }
    }

  }
  &__item{
position: relative;
&::after{
  position: absolute;
    right: -15px;
    top: 30%;
    content: "";
    height: 40px;
    width: 40px;
    background: url(../assets/img/star.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    transform: translateY(-50%);
    margin-top: 10px;
}

&:nth-child(2n){
  h2{
  -webkit-text-stroke: 1px #fff;
    color: transparent;
    border: none;
    text-decoration: none;
  }
}
  }
}



@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

