.client{
    &__flex{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        position: sticky;
        top: 10rem;
        @media #{$xs} {
            display: none;
        }
    }
    &__content{
        h3{
            color: $text;
            font-size: 6.4rem;
            margin: 0 0 3rem;
            font-weight: 600;
  font-family: 'Arimo', sans-serif;
@media #{$xs} {
    font-size: 2rem;
    text-align: center;
}
 @media #{$md} {
    font-size: 2.4rem;
 }
        }
    }
    &__rating{
        padding: 10rem 0 7rem;
        border-top: 1.6px solid #F00;
        @media #{$xs} {
                padding: 2rem 0 2rem;
                text-align: center;
        }
                 @media #{$md} {
                    padding: 6rem 0;
                 }
    }
    &__details{
        padding: 0 0 0 2rem;
        h3{
         color: $text;
         font-size: 1.6rem;
         margin: 2rem 0 1rem;
         font-weight: 700;  
  font-family: 'Arimo', sans-serif;
@media #{$md} {
    font-size: 1.4rem;
}
        }
        p{
            color: $para;
            font-size: 1.4rem;
            margin: 0;
            font-weight: 400;
  font-family: 'Arimo', sans-serif;
@media #{$md} {
    font-size: 1.2rem;
}
        }
    }
    &__details.active{
        border-left: 0.1rem solid $primary;
    }
    &__box{
        margin: 7rem 0 0;
    }

}