.contact{
    &__box{
        margin: 5rem 0 0 ;
    }
    &__form{
        padding: 4rem;
            background: #333232;
        border-radius: 1rem;

        input{
            height: 4rem;
        }

        input,textarea{
            background-color: transparent;
                border: 0.1rem solid #595959;
                color: $text;
                font-size: 1.6rem;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
                &:focus{
                    background-color: transparent;
                    box-shadow: none;
                border: 0.1rem solid #595959;
                color: $text;
                }
                &::placeholder{
                    color: #767676;
                    font-weight: 400;
                }

        }
        button{
            background-color: rgb(255, 0, 0) !important;
                padding: 1rem 3rem;
                color: rgb(249, 249, 249) !important;
                font-size: 1.6rem;
                font-family: Arimo, sans-serif;
                font-weight: 500;
                border: none !important;
                border-radius: 0.5rem;
        }
    }
}