.contact {
  &__box {
    margin: 7rem 0 0;
    @media #{$xs}{
      margin: 2rem 0 0;
    }
  }
  &__form {
    padding: 4rem;
    background: #333232;
    border-radius: 1rem;
      @media #{$xs} {
        padding: 2rem;
      }

    input {
      height: 4rem;
    }

    input,
    textarea {
      background-color: transparent;
      border: 0.1rem solid #595959;
      color: $text;
      font-size: 1.6rem;
      font-family: "Arimo", sans-serif;
      font-weight: 600;
      &:focus {
        background-color: transparent;
        box-shadow: none;
        border: 0.1rem solid #595959;
        color: $text;
      }
      &::placeholder {
        color: #767676;
        font-weight: 400;
      }
    }
    button {
      background-color: rgb(255, 0, 0) !important;
      padding: 1rem 3rem;
      color: rgb(249, 249, 249) !important;
      font-size: 1.6rem;
  font-family: 'Arimo', sans-serif;
      font-weight: 500;
      border: none !important;
      border-radius: 0.5rem;
        @media #{$xs} {
          width: 100%;
        }
    }
  }
  &__left{
    padding: 0 4rem 0 0;
    @media #{$xs}{
      padding: 0;
    }
    p{
        font-size: 1.8rem;
  font-family: 'Arimo', sans-serif;
  font-weight: 500;
  margin: 0 0 1rem;
  color: $para;
  @media #{$xs}{
    font-size: 1.4rem;
    text-align: center;

  }

    }
  }
  &__list{
    margin: 3rem 0 0;
      @media #{$xs} {
        margin: 3rem 0;
      }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li{
            display: grid;
            align-items: center;
                grid-template-columns: 63px 14px auto;
            gap: 1rem;
            color: $text;
            font-size: 1.4rem;
            a{
  font-family: 'Arimo', sans-serif;
  color: $text;
  font-size: 1.8rem;

            }
        }
    }
  }
}
