.count{
    background-image: url(../assets/img/shape.svg);
    background-position: center center;
    background-color: $text;

    &__title{
        h2{
            color: $bg;
            font-size: 1.6rem;
            margin: 0;
  text-align: center;

        }
    }
    &__box{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 4rem 0 0;
        @media #{$xs} {
            grid-template-columns: repeat(2,1fr);
            gap: 3rem 1rem;
        }

    }
    &__card{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        justify-content: center;
        img{
            @media #{$xs} {
                width: 3rem;
                gap: 1rem;
            }
                        @media #{$md} {
                            width: 3rem;
                            gap: 1rem;
                        }
        }
    }
    &__content{
        h3{
            color: $bg;
            font-size: 6rem;
            margin: 0 0 0;
            font-weight: 600;
  font-family: 'Arimo', sans-serif;
  @media #{$xs}{
    font-size: 2.8rem;
  }
  @media #{$md}{
    font-size: 3rem;
  }

        }
        p{
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0;
            color: $bg;
  font-family: 'Arimo', sans-serif;
@media #{$xs} {
    font-size: 1.2rem;
}
 @media #{$md} {
    font-size: 1.4rem;
 }

        }
    }
    
}