.team{
    &__box{
        margin: 7rem 0 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }
    &__img{
        text-align: center;
    }
    &__card{
            border: 0.1rem solid #595959;
            padding: 4rem 2rem;
            border-radius: 1rem;
    }
    &__content{
        margin: 3rem 0 0;
        h3{
            font-size: 2rem;
            color: $text;
            margin: 0 0 1rem;
            text-align: center;
        }
        p{
            color: $para;
            font-size: 1.6rem;
            margin: 0;
      font-family: "Arimo", sans-serif;
      text-align: center;
        }
    }
    &__list{
        margin: 2rem 0 0;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    }
}