@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Zen+Dots&display=swap");
.header {
  padding: 1.6rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #070707;
  z-index: 999;
}
.header .navbar-brand img {
  width: 26rem;
}
@media (max-width: 767px) {
  .header .navbar-brand img {
    width: 18rem;
  }
}
.header .navbar-expand-lg .navbar-nav .nav-link {
  color: #F9F9F9;
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  .header .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
  }
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #FF0000;
}
.header .navbar-nav {
  gap: 2rem;
}
.header__end {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 767px) {
  .header__end {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0;
    text-align: center;
  }
}
.header__end a img {
  height: 4.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #FF0000;
}
.header__end a:nth-child(2) {
  background-color: #FF0000;
  padding: 1rem 3rem;
  color: #F9F9F9;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
  .header .navbar-collapse {
    padding: 3rem 0;
  }
}

.banner {
  background-image: url(../assets/img/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner__content {
  display: flex;
  align-items: initial;
  justify-content: center;
  height: calc(100vh + 86px);
  flex-direction: column;
}
.banner__content h1 {
  font-size: 8rem;
  font-weight: 600;
  margin: 0 0 3.6rem;
  color: #F9F9F9;
}
.banner__content h1 span {
  color: #FF0000;
}
@media (max-width: 767px) {
  .banner__content h1 {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner__content h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner__content h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .banner__content h1 {
    font-size: 4.8rem;
  }
}
.banner__content p {
  color: #B0B0B0;
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}
@media (max-width: 767px) {
  .banner__content p {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner__content p {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner__content p {
    font-size: 1.6rem;
  }
}
.banner__trust {
  border-top: 2px solid rgba(255, 255, 255, 0.12);
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
  margin: 4rem 0 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .banner__trust {
    flex-direction: column;
  }
}
.banner__trust h4 {
  color: #F9F9F9;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
  margin: 0 3rem 0 0;
  border-right: 2px solid rgba(255, 255, 255, 0.12);
  padding: 2rem 3rem 2rem 0;
  letter-spacing: 0.2rem;
}
@media (max-width: 767px) {
  .banner__trust h4 {
    padding: 2rem 0 0;
    border-right: none;
    margin: 0;
  }
}
.banner__trust ul {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}
.banner__trust ul li {
  font-size: 1.6rem;
  color: #F9F9F9;
}
@media (max-width: 767px) {
  .banner__trust ul li {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .banner__trust ul {
    gap: 2rem;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner__trust ul {
    gap: 3rem;
    justify-content: center;
  }
}
.banner__social-list {
  position: relative;
}
.banner__social {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
@media (max-width: 767px) {
  .banner__social {
    display: none;
  }
}
.banner__social ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner__social ul li a {
  width: 5rem;
  height: 5rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-image: url(../assets/img/shape-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.about__title h2 {
  color: #F9F9F9;
  margin: 0 0 2rem;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .about__title h2 {
    text-align: center;
  }
}
.about__content p {
  color: #F9F9F9;
  margin: 0;
  font-size: 3.8rem;
}
@media (max-width: 767px) {
  .about__content p {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about__content p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about__content p {
    font-size: 2rem;
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee h2 {
  display: inline-block;
  padding: 4rem 0;
  background: #333232;
  margin: 8rem 0;
  overflow: hidden;
  color: #F9F9F9;
  font-size: 3.8rem;
}

.service__title h2 {
  color: #F9F9F9;
  margin: 0 0 2rem;
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .service__title h2 {
    text-align: center;
  }
}
.service__list {
  margin: 5rem 0 0;
}
.service__list ul {
  margin: 0;
}
.service__list ul li {
  display: grid;
  grid-template-columns: 0.5fr 1.6fr 2.5fr 1.2fr;
  grid-column-gap: 7rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 5rem 0;
}
.service__list ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 767px) {
  .service__list ul li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service__list ul li {
    display: flex;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .service__icon {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .service__icon img {
    width: 30%;
  }
}
.service__head h3 {
  color: #F9F9F9;
  margin: 0 0 2rem;
  font-size: 2.6rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .service__head h3 {
    text-align: center;
    font-size: 1.8rem;
  }
}
.service__number {
  font-size: 6rem;
  line-height: 1;
  -webkit-text-stroke: 1px #F9F9F9;
  color: transparent;
  opacity: 0.3;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .service__number {
    text-align: center;
    font-size: 3rem;
  }
}
.service__content p {
  color: #B0B0B0;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .service__content p {
    text-align: center;
    font-size: 1.4rem;
  }
}
.service__tools h3 {
  color: #F9F9F9;
  font-size: 1.6rem;
  margin: 0;
}
@media (max-width: 767px) {
  .service__tools h3 {
    text-align: center;
    font-size: 1.4rem;
  }
}
.service__flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .service__flex {
    justify-content: center;
  }
}
.service__tool-list {
  margin: 2rem 0 0;
  border-radius: 8px;
  border: 1px solid #454545;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__tool-list img {
  width: 2.6rem;
}

.project__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 4rem 0 0;
}
@media (max-width: 767px) {
  .project__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.project__card {
  text-align: center;
}
.project__card img {
  border-radius: 1rem;
}
.project__card video {
  border-radius: 1rem;
  -o-object-fit: fill;
     object-fit: fill;
}

.count {
  background-image: url(../assets/img/shape.svg);
  background-position: center center;
  background-color: #F9F9F9;
}
.count__title h2 {
  color: #070707;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}
.count__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem 0 0;
}
@media (max-width: 767px) {
  .count__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }
}
.count__card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}
@media (max-width: 767px) {
  .count__card img {
    width: 3rem;
    gap: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .count__card img {
    width: 3rem;
    gap: 1rem;
  }
}
.count__content h3 {
  color: #070707;
  font-size: 6rem;
  margin: 0 0 0;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .count__content h3 {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .count__content h3 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .count__content h3 {
    font-size: 4rem;
  }
}
.count__content p {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  color: #070707;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .count__content p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .count__content p {
    font-size: 1.4rem;
  }
}

.blog__box {
  margin: 5rem 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
@media (max-width: 767px) {
  .blog__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog__card img {
  border-radius: 1rem;
}
.blog__content {
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
  margin: -3rem 0 0;
}
@media (max-width: 767px) {
  .blog__content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog__content {
    flex-direction: column;
  }
}
.blog__date {
  background: #FF0000;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.blog__date h3 {
  color: #F9F9F9;
  font-size: 3.2rem;
  font-weight: 600;
  margin: 0;
  font-family: "Arimo", sans-serif;
}
.blog__date p {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
.blog__para {
  background: #333232;
  padding: 2rem;
  border-radius: 1rem;
  flex: 1;
}
.blog__para p {
  color: #B0B0B0;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
  margin: 0 0 2rem;
}
.blog__para h4 {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0 0 2rem;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .blog__para h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog__para h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog__para h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .blog__para h4 {
    font-size: 2rem;
  }
}
.blog__para a {
  font-size: 1.4rem;
  color: #B0B0B0;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}

.footer {
  background-color: #333232;
}
.footer__title h2 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 600;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
  margin: 0 0 3rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer__title h2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer__post {
    text-align: center;
  }
}
.footer__post img {
  width: 20rem;
}
.footer__post p {
  font-size: 1.4rem;
  margin: 2rem 0 0;
  font-family: "Arimo", sans-serif;
  color: #B0B0B0;
}
.footer__list ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 767px) {
  .footer__list ul li {
    text-align: center;
  }
}
.footer__list ul li a {
  font-size: 1.8rem;
  color: #B0B0B0;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.footer__social ul {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .footer__social ul {
    justify-content: center;
  }
}

.copyright {
  padding: 1.6rem 0;
  background-color: #333232;
  border-top: 0.1rem solid #474747;
}
.copyright__content p {
  color: #F9F9F9;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Arimo", sans-serif;
  margin: 0;
}

.client__flex {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
}
@media (max-width: 767px) {
  .client__flex {
    display: none;
  }
}
.client__content h3 {
  color: #F9F9F9;
  font-size: 6.4rem;
  margin: 0 0 3rem;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .client__content h3 {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client__content h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .client__content h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .client__content h3 {
    font-size: 3rem;
  }
}
.client__rating {
  padding: 10rem 0 7rem;
  border-top: 1.6px solid #F00;
}
@media (max-width: 767px) {
  .client__rating {
    padding: 2rem 0 2rem;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client__rating {
    padding: 6rem 0;
  }
}
.client__details {
  padding: 0 0 0 2rem;
}
@media (max-width: 767px) {
  .client__details {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 2rem;
    align-items: center;
  }
}
.client__details h3 {
  color: #F9F9F9;
  font-size: 1.6rem;
  margin: 2rem 0 1rem;
  font-weight: 700;
  font-family: "Arimo", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client__details h3 {
    font-size: 1.4rem;
  }
}
.client__details p {
  color: #B0B0B0;
  font-size: 1.4rem;
  margin: 0;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client__details p {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .client__details p {
    text-align: center;
  }
}
.client__details.active {
  border-left: 0.1rem solid #FF0000;
}
.client__box {
  margin: 7rem 0 0;
}

.display-hide {
  display: none;
}
.display-hide img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .display-hide {
    display: block;
  }
}

.contact__box {
  margin: 7rem 0 0;
}
@media (max-width: 767px) {
  .contact__box {
    margin: 2rem 0 0;
  }
}
.contact__form {
  padding: 4rem;
  background: #333232;
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .contact__form {
    padding: 2rem;
  }
}
.contact__form input {
  height: 4rem;
}
.contact__form input,
.contact__form textarea {
  background-color: transparent;
  border: 0.1rem solid #595959;
  color: #F9F9F9;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
}
.contact__form input:focus,
.contact__form textarea:focus {
  background-color: transparent;
  box-shadow: none;
  border: 0.1rem solid #595959;
  color: #F9F9F9;
}
.contact__form input::-moz-placeholder, .contact__form textarea::-moz-placeholder {
  color: #767676;
  font-weight: 400;
}
.contact__form input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
  color: #767676;
  font-weight: 400;
}
.contact__form input::placeholder,
.contact__form textarea::placeholder {
  color: #767676;
  font-weight: 400;
}
.contact__form button {
  background-color: rgb(255, 0, 0) !important;
  padding: 1rem 3rem;
  color: rgb(249, 249, 249) !important;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  border: none !important;
  border-radius: 0.5rem;
}
@media (max-width: 767px) {
  .contact__form button {
    width: 100%;
  }
}
.contact__left {
  padding: 0 4rem 0 0;
}
@media (max-width: 767px) {
  .contact__left {
    padding: 0;
  }
}
.contact__left p {
  font-size: 1.8rem;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  margin: 0 0 1rem;
  color: #B0B0B0;
}
@media (max-width: 767px) {
  .contact__left p {
    font-size: 1.4rem;
    text-align: center;
  }
}
.contact__list {
  margin: 3rem 0 0;
}
@media (max-width: 767px) {
  .contact__list {
    margin: 3rem 0;
  }
}
.contact__list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__list ul li {
  display: grid;
  align-items: center;
  grid-template-columns: 63px 14px auto;
  gap: 1rem;
  color: #F9F9F9;
  font-size: 1.4rem;
}
.contact__list ul li a {
  font-family: "Arimo", sans-serif;
  color: #F9F9F9;
  font-size: 1.8rem;
}

.team__box {
  margin: 7rem 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 767px) {
  .team__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.team__img {
  text-align: center;
}
.team__card {
  padding: 4rem 2rem;
  border-radius: 1rem;
  background-color: #333;
}
@media (max-width: 767px) {
  .team__card {
    padding: 1rem;
  }
}
.team__content {
  margin: 3rem 0 0;
}
@media (max-width: 767px) {
  .team__content {
    margin: 2rem 0 0;
  }
}
.team__content h3 {
  font-size: 2rem;
  color: #F9F9F9;
  margin: 0 0 1rem;
  text-align: center;
}
@media (max-width: 767px) {
  .team__content h3 {
    font-size: 1.4rem;
  }
}
.team__content p {
  color: #B0B0B0;
  font-size: 1.6rem;
  margin: 0;
  font-family: "Arimo", sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .team__content p {
    font-size: 1.4rem;
  }
}
.team__list {
  margin: 2rem 0 0;
}
.team__list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.policy {
  padding: 14rem 0 4rem;
}
.policy h1 {
  color: #F9F9F9;
  font-size: 4.8rem;
  margin: 0 0 3rem;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .policy h1 {
    text-align: center;
    font-size: 2.8rem;
  }
}
.policy h4 {
  color: #F9F9F9;
  font-size: 2.2rem;
  margin: 0 0 0.5rem;
  font-weight: 600;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .policy h4 {
    text-align: center;
    font-size: 1.8rem;
  }
}
.policy p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 2rem;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .policy p {
    text-align: center;
    font-size: 1.8rem;
  }
}
.policy h5 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .policy h5 {
    text-align: center;
    font-size: 1.8rem;
  }
}
.policy ul {
  margin: 0;
  padding: 0 0 0 3rem;
}
.policy ul li {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1rem;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .policy ul li {
    font-size: 1.8rem;
  }
}
.policy a {
  color: #FF0000;
  font-weight: 600;
}

.thank-you {
  min-height: 100vh;
}
.thank-you__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.thank-you h2 {
  font-size: 3.6rem;
  margin: 2rem 0 1rem;
  text-align: center;
  font-weight: 600;
  color: #F9F9F9;
  font-family: "Arimo", sans-serif;
}
.thank-you p {
  color: #F9F9F9;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
}
.thank-you__btn {
  margin: 3rem 0 0;
}
.thank-you__btn a {
  background-color: #FF0000;
  padding: 1rem 3rem;
  color: #F9F9F9;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
}

.thank-you-card {
  text-align: center;
}

.blogs {
  min-height: calc(100vh - 98px);
}
.blogs__banner {
  background-image: url(../assets/img/blog/blog.webp);
  height: 40rem;
  position: relative;
}
.blogs__banner::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.blogs__banner-title {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 5rem;
  position: relative;
}
.blogs__banner-title h2 {
  color: #fff;
  font-size: 4rem;
  margin: 0 0 1rem;
  font-weight: 500;
  text-align: center;
}
.blogs__banner-title p {
  color: #fff;
  font-weight: 400;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Arimo", sans-serif;
  max-width: 70rem;
  margin: 0 auto;
}
.blogs__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 6rem 0 0;
}
@media (max-width: 767px) {
  .blogs__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blogs__content {
  margin: 2rem 0 0;
}
.blogs__content h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 600;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogs__content p {
  color: #b0b0b0;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogs__content h5 {
  color: #B0B0B0;
  font-size: 1.2rem;
  margin: 0 0 1rem;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.blogs__tag {
  padding: 0.5rem;
  background: #333232;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.4rem;
  display: inline-block;
  margin: 1rem 0;
}
.blogs__img img {
  border-radius: 0.8rem;
}

.details {
  min-height: 100vh;
}
.details__banner {
  background-image: url(../assets/img/blog/blog.webp);
  height: 40rem;
  position: relative;
}
.details__banner::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.details__banner-title {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5rem;
  position: relative;
}
.details__banner-title h2 {
  color: #fff;
  font-size: 4rem;
  margin: 0 0 1rem;
  font-weight: 500;
}
.details__banner-title p {
  color: #fff;
  font-weight: 400;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  max-width: 70rem;
}
.details__box {
  padding: 4rem 0;
}
.details__img img {
  border-radius: 1rem;
}
.details__content {
  margin: 2rem 0 0;
}
.details__content p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1rem;
  font-family: "Arimo", sans-serif;
  color: #B0B0B0;
}
.details__content h5 {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 0 1rem;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}
.details__list {
  margin: 2rem 0;
}
.details__list h4 {
  font-size: 2rem;
  margin: 0 0 1rem;
  color: #fff;
}
.details__list ul {
  padding: 0 0 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}
.details__list ul li {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
  color: #B0B0B0;
  list-style-type: circle;
}
.details__right {
  padding: 0 0 0 3rem;
}
.details__right-box {
  background-color: #333232;
  padding: 3rem;
  border-radius: 0.8rem;
}
.details__search p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1rem;
}
.details__search input {
  background-color: transparent;
  border: 0.1rem solid #595959;
  color: #F9F9F9;
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  border-right: none;
  height: 4rem;
}
.details__search input:focus {
  background-color: transparent;
  box-shadow: none;
  border: 0.1rem solid #595959;
  color: #F9F9F9;
}
.details__search input::-moz-placeholder {
  color: #767676;
  font-weight: 400;
}
.details__search input:-ms-input-placeholder {
  color: #767676;
  font-weight: 400;
}
.details__search input::placeholder {
  color: #767676;
  font-weight: 400;
}
.details__search .input-group-text {
  background-color: #FF0000;
  border: none;
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.details__right-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.details__right-list h4 {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
}
.details__right-list ul {
  padding: 0;
  margin: 2rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.details__right-list ul li {
  border-bottom: 0.1rem solid #595959;
  padding: 0 0 1rem;
}
.details__right-list ul li a {
  color: #B0B0B0;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Arimo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Dots", sans-serif !important;
  color: #F9F9F9;
  background-color: #070707 !important;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.padding {
  padding: 8rem 0;
}
@media (max-width: 767px) {
  .padding {
    padding: 4rem 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .padding {
    padding: 4rem 0;
  }
}

.sec-title p {
  margin: 0 0 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #F9F9F9;
  font-weight: 400;
  font-family: "Arimo", sans-serif;
}
@media (max-width: 767px) {
  .sec-title p {
    font-size: 1.4rem;
  }
}
.sec-title h2 {
  font-size: 5rem;
  margin: 0;
  color: #F9F9F9;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .sec-title h2 {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sec-title h2 {
    font-size: 4rem;
  }
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #FF0000;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}
@media (max-width: 767px) {
  .cursor {
    display: none;
  }
}

.grow,
.grow-small {
  transform: scale(4);
  background: white;
  mix-blend-mode: difference;
  border: none;
}

.grow-small {
  transform: scale(3);
}

#custom-tab {
  padding: 6rem 0;
}
#custom-tab .nav-pills {
  justify-content: center;
  gap: 3rem;
  max-width: 36rem;
  background-color: #333232;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 3rem;
  overflow-x: auto;
  flex-wrap: nowrap;
}
#custom-tab .nav-link {
  font-size: 1.4rem;
  color: #808080;
}
#custom-tab .nav-link.active {
  background-color: transparent;
  text-decoration: line-through;
  color: #fff;
}/*# sourceMappingURL=style.css.map */